*

!.gitignore
!README.md

!3dCalculations(C++)
!3dCalculations(C++)/README.md
!3dCalculations(C++)/main.cpp
!3dCalculations(C++)/demo.cpp
!3dCalculations(C++)/src
!3dCalculations(C++)/src/exampleEntity.hpp
!3dCalculations(C++)/src/include
!3dCalculations(C++)/src/include/sharedResources.hpp
!3dCalculations(C++)/src/include/vector3.hpp
!3dCalculations(C++)/src/include/transform.hpp
!3dCalculations(C++)/src/include/quaternion.hpp

!memoryHandler(C++)
!memoryHandler(C++)/README.md
!memoryHandler(C++)/main.cpp
!memoryHandler(C++)/memBatch.hpp

